@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');

body {
	margin: 0px;
	padding: 0px;
	font-family: Roboto,Arial,sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	font-style: normal;
	color: #ffffff;
}

.bg-Basket {
    width: 21px; height: 20px;
    background: url(Images/css_sprites.png) -91px -108px;
}

.bg-Basket2 {
    width: 21px; height: 20px;
    background: url(Images/css_sprites.png) -91px -68px;
}

.bg-Cow {
    width: 48px; height: 49px;
    background: url(Images/css_sprites.png) -207px -10px;
}

.bg-Enter {
    width: 21px; height: 19px;
    background: url(Images/css_sprites.png) -218px -149px;
}

.bg-FB {
    width: 32px; height: 32px;
    background: url(Images/css_sprites.png) -62px -149px;
}

.bg-Heart {
    width: 15px; height: 13px;
    background: url(Images/css_sprites.png) -47px -201px;
}

.bg-Hit {
    width: 61px; height: 61px;
    background: url(Images/css_sprites.png) -10px -68px;
}

.bg-Icecream {
    width: 49px; height: 49px;
    background: url(Images/css_sprites.png) -138px -10px;
}

.bg-Instagram {
    width: 32px; height: 32px;
    background: url(Images/css_sprites.png) -114px -149px;
}

.bg-Leaf {
    width: 49px; height: 49px;
    background: url(Images/css_sprites.png) -138px -79px;
}

.bg-Logo_bottom {
    width: 108px; height: 38px;
    background: url(Images/css_sprites.png) -10px -10px;
}

.bg-Search {
    width: 17px; height: 17px;
    background: url(Images/css_sprites.png) -10px -201px;
}

.bg-Thermometer {
    width: 48px; height: 49px;
    background: url(Images/css_sprites.png) -207px -79px;
}

.bg-Twitter {
    width: 32px; height: 32px;
    background: url(Images/css_sprites.png) -10px -149px;
}

.bg-VK {
    width: 32px; height: 32px;
    background: url(Images/css_sprites.png) -166px -149px;
}

.page-wrapper {
	width: 100%;
	height: 1000px;
	background-color: #849d8f;
	background-image: url(Images/Slider-1.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.content-wrapper {
	margin: 0px auto;
	width: 1200px;
	padding: 0px;
	padding-top: 10px;	
}

.main-header {
	position: relative;
	padding: 0px;
	width: 1146px;
	margin: 0px auto;
}

.main-header::after {
	content: "";
	display: table;
	clear: both;
}

.main-navi {
	float: left;
	display: block;
	width: 600px;
}

.main-logo {
	float: left;
}

.main-logo > a {
	display: block;
	margin: 0px;
	padding: 0px;
}

.main-navi__items {
	font-size: 0px;
	float: left;
	margin: 0px;
	margin-top: 14px;
	margin-left: 12px;
	padding: 0px;
}

.main-navi__item {
	position: relative;
	display: inline-block;
	height: 32px;
	border-radius: 16px;
	margin: 0px;
	padding: 0px;
}

.main-navi__item:hover {
	background-color: #f7f6f3;
}

.main-navi__item:hover .main-navi__link {
	color: #323232;
}

.main-navi__item:active {
	box-shadow: inset 0px 2px 1px 0px #696969;
}

.main-navi__link {
	display: inline-block;
	margin: 7px 13px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	text-decoration-color: rgba(255,255,255,.2);
}

.main-navi__item:first-child:hover  .main-navi__popap-wrapper {
	visibility: visible;
}

.main-navi__popap-wrapper {
	position: absolute;
	right: -50px;
	top: 32px;
	width: 143px;
	height: 169px;
	border-radius: 5px;
	box-shadow: 0px 20px 20px rgba(0,0,0,.4);
	visibility: hidden;
}

.main-navi__popup {
	margin-top: 5px;
	padding: 0px;
	list-style: none;
	border-radius: 5px;
	background-color: #f8f7f4;
}

.main-navi__popup-item:last-child {
	border-radius: 5px;
}

.main-navi__popup-item {
	padding-top: 6px;
	padding-bottom: 3px;
	cursor: pointer;
}

.main-navi__popup-item:hover {
	background-color: #fbded8;
}

.main-navi__popup-item:active {
	background-color: #f6b5a5;
}

.main-navi__popup-item--tettle {
	border-bottom: 1px solid #d1d0ce;
	padding-top: 6px;
 	margin-left: 6px;
 	margin-right: 9px;
 	padding-bottom: 3px;
}

.main-navi__popup-link {
	display: inline-block;
	padding-left: 20px;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	text-decoration: none;
	padding-top: 3px;
}

.main-navi__popup-link--tittle {
	display: inline-block;
	font-weight: bold;
	padding-left: 14px;
	padding-top: 5px;
	cursor: default;
}

.user-block {
	float: right;
	width: 262px;
}

.user-block__items {
	font-size: 0px;
	width: 262px;
	margin: 0px;
	margin-top: 14px;
	padding: 0px;
}

.user-block__item {
	position: relative;
	display: inline-block;
	height: 32px;
	margin: 0px;
	margin-right: 10px;
	border-radius: 16px;
	background-color: #9db1a5;
	cursor: pointer;
}

.user-block__item:last-child {
	margin-right: 0px;
}

.user-block__item:hover {
	background-color: #f8f7f4;
}

.user-block__item:hover .user-block__popup-search {
	visibility: visible;
}

.user-block__item:hover .user-block__popup-enter {
	visibility: visible;
}

.user-block__item:hover .user-block__search::before {
	position: absolute;
	content: "";
	width: 17px; height: 17px;
    background: url(Images/css_sprites_hover.png) -10px -50px;
    top: 6px;
    left: 8px;
}

.user-block__item:hover .user-block__search {
	color: #323232;
}

.user-block__item:hover .user-block__enter::before {
	position: absolute;
	content: "";
	width: 21px; height: 19px;
    background: url(Images/css_sprites_hover.png) -51px -10px;
    top: 5px;
    left: 17px;
}

.user-block__item:hover .user-block__enter {
	color: #323232;
}

.user-block__item:hover .user-block__basket::before {
	position: absolute;
	content: "";
	width: 21px; height: 20px;
    background: url(Images/css_sprites_hover.png) -10px -10px;
    top: 5px;
    left: 17px;
}

.user-block__item:hover .user-block__basket {
	color: #323232;
}

.user-block__item a {
	position: relative;
	display: inline-block;
	color: #ffffff;
	line-height: 16px;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
}

.user-block__search {
	font-size: 0px;
	width: 33px;
	padding-top: 12px;
}

.user-block__search::before {
	position: absolute;
	content: "";
	width: 17px; height: 17px;
    background: url(Images/css_sprites.png) -10px -201px;
    top: 6px;
    left: 8px;
}

.user-block__enter {
	font-size: 14px;
	width: 65px;
	padding-top: 8px;
	padding-left: 27px;
}

.user-block__enter::before {
	position: absolute;
	content: "";
	width: 21px; height: 19px;
    background: url(Images/css_sprites.png) -218px -149px;
    top: 5px;
    left: 17px;
}

.user-block__basket {
	font-size: 14px;
	width: 107px;
	padding-top: 8px;
	padding-left: 10px;
}

.user-block__basket::before {
	position: absolute;
	content: "";
	width: 21px; height: 20px;
    background: url(Images/css_sprites.png) -91px -108px;
    top: 5px;
    left: 17px;
}

.user-block__popup-search {
	position: absolute;
	width: 341px;
	height: 110px;
	top: 10px;
	right: 0px;
	visibility: hidden;
}

.user-block__popup-search form {
	width: 341px;
	height: 83px;
	border-radius: 5px;
	margin-top: 25px;
	background-color: #f8f7f4;
	cursor: default;
}

.user-block__popup-input {
	display: inline-block;
	margin-top: 20px;
	margin-left: 15px;
	width: 311px;
	height: 44px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	font-size: 16px;
	line-height: 24px;
	vertical-align: middle;
	color: #323232;
	font-weight: bold;
	padding-left: 15px;
	box-sizing: border-box;
}

.user-block__popup-input:hover {
	border: 2px solid #d3d3d2;
}

.user-block__popup-input:focus {
	outline: none;
	border: 2px solid #8fbdec;
}

.user-block__popup-enter {
	position: absolute;
	width: 277px;
	height: 219px;
	right: -2px;
	visibility: hidden;
}

.user-block__popup-enter form {
	display: inline-block;
	background-color: #f8f7f4;
	width: 277px;
	height: 214px;
	margin-top: 5px;
	border-radius: 5px;
	cursor: default;
}

.user-block__popup-enter .user-block__popup-input {
	width: 241px;
	margin-left: 19px;
}

.btn {
	float: left;
	width: 100px;
	height: 44px;
	margin-left: 19px;
	margin-top: 20px;
	padding: 0px;
	border-radius: 24px;
	background-image: linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0px 2px 2px 0px rgba(172,16,0,.64);
	border: none;
	cursor: pointer;
	color: #fefefe;
	font-size: 18px;
}

.btn:hover {
	background-image: linear-gradient(to top, #ec6f5e, #f58669);
	box-shadow: 0px 2px 2px 0px rgba(172,16,0,1);
}

.btn:active {
	background-image: linear-gradient(to top, #e1613e, #d74632);
	box-shadow: inset 0px 2px 2px 0px rgba(172,16,0,1);
	outline: none;
}

.btn:focus {
	outline: none;
}

.user-block__popup-enter--link {
	display: block;
	margin-top: 16px;
}

.user-block__popup-enter--link span {
	border-bottom: 1px solid #b2b2b2;
    font-size: 13px;
	line-height: 24px;
	color: #323232;
	margin-left: 20px;
}

.user-block__popup-enter--link span:hover {
	color: #e84d37;
	border-bottom: 1px solid #f9cdc4;
}

.contacts {
	position: absolute;
	bottom: -35px;
	right: 0px;
	text-align: right;
}

.contacts p {
	margin: 0px;
	font-size: 14px;
	line-height: 16px;
}

.contacts p:last-child {
	font-size: 22px;
	line-height: 24px;
}












::-webkit-input-placeholder { /* WebKit browsers */
	color: #999999;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #999999;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #999999;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #999999;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}




/*

.content-wrapper {
	background-color: rgba(255,0,0,.2);
}

.main-header {
	background-color: rgba(0,255,0,.2);
}

.main-navi, .user-block {
	background-color: rgba(0,0,255,.2);
}


.user-block__items {
	background-color: rgba(255,0,255,.2);
}

 {
	background-color: rgba(255,255,0,.2);
}
/*